/*topMenu*/
/*sideMenuAdd*/
/*sideMenuMenu*/
/*sideMenuGraph*/
/*sideMenuUsers*/
/*mainArea*/

.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
    'topMenu topMenu topMenu topMenu topMenu'
    'sideMenuTable mainArea mainArea mainArea mainArea'
    'sideMenuMenu mainArea mainArea mainArea mainArea'
    'sideMenuGraph mainArea mainArea mainArea mainArea'
    'sideMenuUsers mainArea mainArea mainArea mainArea'
}

.topMenu{
    width: 100vw;
    height: 20vh;
    grid-area: topMenu;
    background-color: #ccc;
}

.sideMenuTable{
    width: 20vw;
    height: 20vh;
    grid-area: sideMenuTable;
    background-color: purple;
}

.sideMenuMenu{
    width: 20vw;
    height: 20vh;
    grid-area: sideMenuMenu;
    background-color: orangered;
}

.sideMenuGraph{
    width: 20vw;
    height: 20vh;
    grid-area: sideMenuGraph;
    background-color: yellow;
}

.sideMenuUsers{
    width: 20vw;
    height: 20vh;
    grid-area: sideMenuUsers;
    background-color: greenyellow;
}

.mainArea{
    width:80vw;
    height: 80vh;
    grid-area: mainArea;
    background-color: blue;
}



/*ICONS*/

.sideMenuTable .fa {
    display: block;
    text-align: center;
}